/* navigation */
#navbar{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 8px;
    margin: auto;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* home section  */
#home{
    height: 370px;
    padding: 3px 68px;
    overflow: hidden;
    
}
#home::before{
    height: 544px;
}
#home p{
    font-size: 13px;
}
/* services  */
#services{
    flex-direction: column;
}

/* clients */
#clientitems{
    flex-wrap: wrap;
    padding: 0px 4px;

}
#contacts::before{
    height: auto;
}
#contact-box form{
    width: 80%;
}
#client-section::before{
    height: 550px;
}
/* #clients img{
    
    
} */


/* contact */
  


/* footer */

/* utility classes */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
